# EditorConfig : http://EditorConfig.org
# Install the EditorConfig extension

root = true

[*.{h,hxx,inl,cpp,cxx,idl,cs}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true